{% extends 'base_admin.html.twig' %}

{% block title %}Building{% endblock %}

{% block nav %} {{ parent() }}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <h1>Room</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ room.name }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ room.status ? room.status|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <button onclick="location.href='{{ path('app_room_index') }}'" type="button" class="btn btn-success ml-1">Back</button>
    <button onclick="location.href='{{ path("app_room_index", {'id': room.id}) }}'" type="button" class="btn btn-success ml-1">View Reservations</button>


{% endblock %}