{% extends 'base.html.twig' %}

{% block title %}Building index{% endblock %}

{% block body %}
    <h1>Building index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for building in buildings %}
            <tr>
                <td>{{ building.id }}</td>
                <td>{{ building.name }}</td>
                <td>{{ building.address }}</td>
                <td>
                    <a href="{{ path('app_building_show', {'id': building.id}) }}">show</a>
                    <a href="{{ path('app_building_delete', {'idBuilding': building.id}) }}">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_building_new') }}">Create new</a>
{% endblock %}
