{% extends "base_user.html.twig" %}


    {% block body %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1>All Rooms</h1>

        <table class="table" style="margin-top: 80px;">
            <caption>List of rooms</caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Room Name</th>
                <th scope="col">Capacity</th>


                <th scope="col"> </th>
            </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
            <tr>
                <th scope="row">1</th>
                <td>{{ room.name }}</td>
                <td>{{ room.capacity }}</td>

                {% if  capacity is defined and capacity <= room.capacity  %}
                <td><button onclick="location.href='/user/book/{{ room.building.name }}/{{ room.id }}'" type="button" class="btn btn-success">Select</button></td>
                {% else %}
                    <td><button onclick="location.href='/book/ask/{{ room.building.id }}/{{ room.id }}'" type="button" class="btn btn-warning">Fill Form</button></td>
                    {% endif %}
            </tr>

            {% endfor %}

            </tbody>
        </table>

    </main>

{% endblock %}



