{% extends 'base_admin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>
                {% for role in user.roles|slice(0,1) %}
                    {% if role=="ROLE_USER" %}
                      <span>User</span>
                    {% else %}
                        <span>Admin</span>
                    {% endif %}
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>AgreedTermsAt</th>
                <td>{{ user.agreedTermsAt ? user.agreedTermsAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <button onclick="location.href='{{ path('app_users_show') }}'" type="button" class="btn btn-success ml-1">Back</button>
    <button onclick="location.href='{{ path("app_users_show", {'id': user.id}) }}'" type="button" class="btn btn-success ml-1">View Reservations</button>


{% endblock %}
