{% extends "baseUser.html.twig" %}


{% block nav %} {{ parent() }}
    <style>
        .Selected{
            background-color: lightgreen!important;
        }
    </style>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<<<<<<< HEAD
        {% set date="now"|date("m/d/Y")   %}
{#        <script>#}

{#            function updateDate()#}
{#            {#}
=======
>>>>>>> b44fb764bcaacc6a744686812876239a35607245

{#                const dates= document.getElementById("getDate").value;#}
{#                console.log(dates);#}
{#                {{_self.jsVar(dates, 'dates')}}#}

<<<<<<< HEAD
{#            }#}
{#        </script>#}
=======



>>>>>>> b44fb764bcaacc6a744686812876239a35607245

        <h1> Building : </h1>
        <h2> Room : {{ room.name }}</h2>


        <h3>Info</h3>
        <ul>
            <li>Id : {{ room.id }}</li>
            <li>Building :  </li>
            <li>Name : {{ room.name }}</li>
            <li>Capacity : {{ room.capacity}} </li>

            <li>date {{ date|date('Y-m-d') }}</li>

        </ul>



        <h3>Status</h3>  <br>
        <form method="get" name="form" action="{{ path('single_room',{'slug':slug, 'room':room.id}) }}">
            <input name="date" id="date" value="{{ date|date('Y-m-d') }}" type="date">
            <input type="submit" value="Submit">
        </form>




        <br><br>








        <table id="time" class="table table-bordered table-white">
            <thead>
            <tr>
                <th scope="col" >9:00 -10:00 </th>
                <th scope="col">10:00 - 11:00</th>
                <th scope="col">11:00 - 12:00</th>
                <th scope="col">12:00 - 1:00</th>
                <th scope="col">1:00 - 2:00</th>
                <th scope="col">2:00 - 3:00</th>
                <th scope="col">3:00 - 4:00 </th>

            </tr>
            </thead>
            <tbody>


            <tr>

                {% for slot in reservations %}
                    {% if slot == 1 %}

                            <td   class=" time-slot Selected">Select</td>

                    {% elseif slot == 0 %}

                            <td  class=" time-slot">Full</td>

                    {% endif %}


                {% endfor %}
            </tr>

{#                <td class="table-warning">Reserved</td>#}
{#                <td class="table-warning">Reserved</td>#}
{#               <td onclick="function hello()  {#}
{#                    }"#}
{#                 class="table-primary"> Select </td>#}
{#                <td class="table-warning">Reserved</td>#}
{#                <td class="table-primary">Select</td>#}
{#                <td class="table-primary">Select</td>#}


            <script>
                var elements = Array.from( document.querySelectorAll(".time-slot"));

                console.log(elements);

                elements.forEach(function (element)
                {
                    element.addEventListener("click",function (e)
                    {
                        console.log(e.target)
                        e.target.classList.toggle("Selected");
                    })
                })
            </script>


            </tbody>

        </table>




    </main>
{% endblock %}

