{% extends "baseUser.html.twig" %}


{% block nav %} {{ parent() }}
    <style>
        .Selected{
            background-color: lightgreen!important;
        }
    </style>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">




        <h1> Building : </h1>
        <h2> Room : {{ room.name }}</h2>


        <h3>Info</h3>
        <ul>
            <li>Id : {{ room.id }}</li>
            <li>Building :  </li>
            <li>Name : {{ room.name }}</li>
            <li>Capacity : {{ room.capacity}} </li>

            <li>date {{ date|date('Y-m-d')  }}</li>

        </ul>



        <h3>Status</h3>  <br>
        <form method="get" name="form" action="{{ path('single_room',{'slug':slug, 'room':room.id}) }}">
            <input name="date" id="date" value="{{ date|date('Y-m-d') }}" type="date">
            <input type="submit" value="Search">
        </form>




        <br><br>








        <table id="time" class="table table-bordered table-white">
            <thead>
            <tr>
                <th scope="col" >9:00 -10:00 </th>
                <th scope="col">10:00 - 11:00</th>
                <th scope="col">11:00 - 12:00</th>
                <th scope="col">12:00 - 1:00</th>
                <th scope="col">1:00 - 2:00</th>
                <th scope="col">2:00 - 3:00</th>
                <th scope="col">3:00 - 4:00 </th>

            </tr>
            </thead>
            <tbody>


            {%set i=0 %}
            <tr>

                {% for slot in reservations %}
                    {% set i=i+1 %}
                    {% if slot == 1 %}

                            <td id="{{ i }}"  class=" table-primary time-slot">Select</td>

                    {% elseif slot == 0 %}

                            <td {{ i}} class="table-danger">Full</td>

                    {% endif %}


                {% endfor %}
            </tr>





{#                <td class="table-warning">Reserved</td>#}
{#                <td class="table-warning">Reserved</td>#}
{#               <td onclick="function hello()  {#}
{#                    }"#}
{#                 class="table-primary"> Select </td>#}
{#                <td class="table-warning">Reserved</td>#}
{#                <td class="table-primary">Select</td>#}
{#                <td class="table-primary">Select</td>#}



            <form method="get" name="submit" action="{{ path('single_room',{'slug':slug, 'room':room.id}) }}">
                <input type="hidden" name="status_array" id="status_array">
                <input type="hidden" name="date" id="date" value="{{ date|date('Y-m-d') }}">
                <input type="submit" value="Submit">
            </form>

            <script>
                const status = [1,1,1,1,1,1,1];
                var elements = Array.from( document.querySelectorAll(".time-slot"));







                elements.forEach(function (element)
                {
                    element.addEventListener("click",function (e)
                    {

                        e.target.classList.toggle("Selected");
                        if(e.target.innerHTML==='Selected')
                        {
                            e.target.innerHTML='Select';

                            for(let i=0;i<7;i++)
                            {
                                if(i===parseInt(e.target.id))
                                {
                                    status[i-1]=1;
                                }

                            }


                        }

                        else
                        {
                            e.target.innerHTML='Selected';

                            for(let i=0;i<7;i++)
                            {
                                if(i===parseInt(e.target.id))
                                {
                                    status[i-1]=0;
                                }
                            }

                        }




                         document.getElementById("status_array").value=status;
                    })





                })








            </script>


            </tbody>

        </table>




    </main>
{% endblock %}

