{% extends "baseUser.html.twig" %}


{% block nav %} {{ parent() }}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">



        <script>

            $(document).ready(function () {
                var isMouseDown = false;
                var lastTr = -1;

                $('body').mousedown(function() {
                    isMouseDown = true;
                    $('td').removeClass('highlight');
                })
                    .mouseup(function() {
                        isMouseDown = false;
                    });

                $("table td").hover(function(){
                    var ctr = $(this).closest('tr').index();
                    lastTr = lastTr === -1 ? ctr : lastTr;

                    if (isMouseDown)
                        if (lastTr !== ctr)
                            $('td').removeClass('highlight');
                        else
                            $(this).addClass("highlight");

                    lastTr = $(this).closest('tr').index();
                });

                $("table td").click(function(){
                    $(this).toggleClass('highlight');
                });
            });


        </script>

        <h1> Building : </h1>
        <h2> Room : {{ room.name }}</h2>


        <h3>Info</h3>
        <ul>
            <li>Id : {{ room.id }}</li>
            <li>Building :  </li>
            <li>Name : {{ room.name }}</li>
            <li>Capacity : {{ room.capacity}} </li>
            <li>date {{ date|date('Y-m-d') }}</li>
        </ul>



        <h3>Status</h3>  <br>
        <form method="get" name="form" action="{{ path('single_room',{'slug':slug, 'room':room.id}) }}">
            <input name="date" id="date" value="{{ date|date('Y-m-d') }}" type="date">
            <input type="submit" value="Submit">
        </form>


        <br><br>








        <table id="time" class="table table-bordered table-white">
            <thead>
            <tr>
                <th scope="col" >9:00 -10:00 </th>
                <th scope="col">10:00 - 11:00</th>
                <th scope="col">11:00 - 12:00</th>
                <th scope="col">12:00 - 1:00</th>
                <th scope="col">1:00 - 2:00</th>
                <th scope="col">2:00 - 3:00</th>
                <th scope="col">3:00 - 4:00 </th>

            </tr>
            </thead>
            <tbody>


            <tr>



                {% for slot in reservations %}
                    {% if slot == 1 %}
                        <th scope="row" class="table-primary">Select</th>
                    {% elseif slot == 0 %}
                        <th scope="row" class="table-danger">Full</th>

                    {% endif %}


                {% endfor %}
{#                <td class="table-warning">Reserved</td>#}
{#                <td class="table-warning">Reserved</td>#}
{#               <td onclick="function hello()  {#}
{#                    }"#}
{#                 class="table-primary"> Select </td>#}
{#                <td class="table-warning">Reserved</td>#}
{#                <td class="table-primary">Select</td>#}
{#                <td class="table-primary">Select</td>#}


            </tr>
            </tbody>

        </table>




    </main>
{% endblock %}

